/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Light Theme (default) */
:root {
  --bg-color: #f5f5f5;
  --card-bg: #ffffff;
  --text-color: #000000;
  --input-bg: #ffffff;
  --btn-bg: #000000;
  --btn-text: #ffffff;
}

/* DARK THEME */
body.dark-theme {
  --bg-color: #121212;
  --card-bg: #1e1e1e;
  --text-color: #ffffff;
  --input-bg: #2a2a2a;
  --btn-bg: #ffffff;
  --btn-text: #000000;
}
